
#stove-view {
	background-image: url('../images/stove.jpg');
	@extend %view-background;
    width: 75vw;
    height: 60.45vw;
	.stock {
		top: 50%;
		left: 50%;
		width: 10%;
		height: 16%;
	}
	.pot {
	    left: 37%;
	    top: 54%;
	    width: 12%;
	    height: 12%;
	}
}

#ice-box-view {
	@extend %view-background;
	background-image: url('../images/ice-box-open.png');
	.butter {
		top: 40%;
		left: 28%;
		width: 20%;
		height: 12%;
	}
	.parmesan {
		top: 23%;
		left: 28%;
		width: 20%;
		height: 15%;
	}
	
}
@media screen and (min-aspect-ratio: 100/59) {
	#stove-view {
      width:127vh;
      height:100vh;
  }
}
