@import "functions.scss";

#cellar-view {
	background-image: url('../images/cellar.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	.onions {
		top: 10vh;
		left: 20vh;
	}
	.garlic {
		top: 40vh;
	}
	.wine {
		left: 0vh;
		width: 20vh;
		top: 35vh;
		height:50vh;
	}
	.mushrooms {
		left: 70vh;
		top: 80vh;
	}
}
