@import "functions.scss";
$items-width: 20;
#cutting-board-view {
	.cutting-board {
		display: flex;
		flex-wrap: wrap;
		width: (100 - $items-width) + vw;
		height: (100 - $items-width) + vw;
		transform-origin: center bottom;
		transform: rotateX(45deg);
	}
	.cutting-board div {
		width: 50%;
		height: 50%;
		border: 3px solid black;
		&:hover {
		background-color: rgba(34,0,78, 0.4);
		}
	}
	.drop-hover {
		background-color: rgba(34,0,78, 0.4);
	}
	@media screen and (min-aspect-ratio: 100/80) {
		.cutting-board {
			width: 100vh;
			height: 100vh;
		}
	}
}