$testing: false;
@mixin testing{
	@if $testing {
		border: 3px solid black;
		&:hover {
		background-color: rgba(34,0,78, 0.4);
		}
	} @else {
		border:none;
	}
}
%view-background {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}