@import "functions";
@import "kitchen";
@import "cellar";
@import "stove";
@import "shelf";
@import "cutting-board";
@import "pot";
$unit: vw;
@font-face {
    font-family: castro;
    src: url('../fonts/castro/castro.ttf');
}
@font-face {
    font-family: sidhe;
    src: url('../fonts/sidhe/sidhe.ttf');
}
@font-face {
    font-family: lewis;
    src: url('../fonts/lewis/LewisCarroll.ttf');
}
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
.wrapper {
	display: flex;
    background-size: 20% auto;
}
#view-wrapper {
	width: 75vw;
	height: 100vh;
    background-color: rgb(92,80,64);
}
.view {
    position: relative;
    width:75+$unit;
    height:75+$unit;
    margin: 0 auto;
    @include testing;
    > * {
        position: absolute;
        display: block;
        width: 10vh;
        height: 10vh;
        @include testing;
    }
    .nav.back {
        right: 0%;
        top: 0%;
        @include testing;
        background-image: url('../images/arrow.png');
        @extend %view-background;
    }
}

button {
	background-color: transparent;
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
    }
}
.items {
    background-image: url('../images/butcherblock.jpg');
    background-size: 100% auto;
    background-repeat: repeat;
	width: 25vw;
	height: 100vh;
	@include testing;
    overflow-y: scroll;
	.item {
        position: relative;
		@include testing;
        width: 15vw;
		height: 15vw;
        max-width: 200px;
        max-height: 200px;
		background-size: auto 100%;
		background-position: 0% center;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.1);
        button {
            background-image: url('../images/trash-icon.png');
            @extend %view-background;
            position: absolute;
            right: 10%;
            top: 10%;
            width: 20%;
            height: 20%;
            border: none;
        }
		&.onions {
			background-image: url('../images/onions.png');
		}
		&.garlic {
			background-image: url('../images/garlic.png');
		}
		&.mushrooms {
			background-image: url('../images/mushrooms.png');
		}
        &.wine {
			background-image: url('../images/wine-bottle-2.png');
            background-position: center center;
		}
        &.rice {
            background-image: url('../images/arborio.png');
            background-position: center center;
        }
        &.stock {
            background-image: url('../images/stock.png');
            background-position: center center;
        }
        &.butter {
            background-image: url('../images/butter.png');
            background-position: center center;
        }
        &.parmesan {
            background-image: url('../images/parmesan.png');
        }

	}
}

.pop-up {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15%;
    left: 12.5%;
    width: 50%;
    min-height: 50%;
    background-color: rgba(255,255,255,0.6);
    @include testing;
    z-index: 200;
    padding: 3%;
    h2 {
        font-size: 3.5vw;
        text-align: center;
        font-family: lewis, serif;
    }
    p {
        font-family: sidhe, serif;
        text-align: center;
        font-size: 2vw;
    }
    button {
        outline: none;
        margin: 0% 10%;
        padding: 5%;
        font-family: lewis, serif;
        font-size: 3.5vw;
        background-color: rgba(64,64,64,0.5);
        color: white;
        transition: background-color 0.5s;
        &:hover {
            background-color: rgba(159,18,18,1);
        }
    }
}
.pop-up-overlay {
    position: fixed;
    background-color: rgba(64,64,64,0.5);
    top: 0%;
    left: 0%;
    width: 75%;
    height: 100%;
    z-index: 100;
}
@media screen and (min-aspect-ratio: 100/75) {
    $unit: vh;
	.view {
        width:100+$unit;
        height:100+$unit;
    }
}