@import "functions.scss";
@import "kitchen.scss";
@import "cellar.scss";
@import "stove.scss";
@import "shelf.scss";
@import "cutting-board.scss";
@import "pot.scss";
$items-width: 20;
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
.wrapper {
	display: flex;
	-webkit-perspective:1200;
	perspective:1200;
}
.view {
	padding: 0;
	width: 80vw;
	height: 100vh;
}
.view > * {
		position: absolute;
		display: block;
		width: 10vh;
		height: 10vh;
		@include testing;
}
button {
	background-color: rgba(255,255,255,0.2);
	color: white;
}
.items {
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 100vh;
	@include testing;
	.item {
		@include testing;
		height: 20vw;
	}
}
.pop-up {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.6);
    @include testing;
    z-index: 200;
}
.pop-up-overlay {
        position: fixed;
        background-color: rgba(64,64,64,0.2);
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
@media screen and (min-aspect-ratio: 100/80) {
	
}