@import "functions.scss";
@import "kitchen.scss";
@import "cellar.scss";
@import "stove.scss";
@import "shelf.scss";
@import "cutting-board.scss";
@import "pot.scss";
$items-width: 20;
$unit: vw;
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
.wrapper {
	display: flex;
	-webkit-perspective:1200;
	perspective:1200;
    //background-image: url('../images/wallpaper.jpg');
    background-color: rgba(128,128,128,1);
    background-size: 20% auto;
}
#view-wrapper {
	width: 75vw;
	height: 100vh;
}
.view {
    position: relative;
    width:80+$unit;
    height:80+$unit;
    margin: 0 auto;
    @include testing;
}
.view > * {
		position: absolute;
		display: block;
		width: 10vh;
		height: 10vh;
		@include testing;
}
button {
	background-color: transparent;
    //rgba(255,255,255,0.2);
	color: yellow;
    &:focus {
        outline: none;
    }
}
.items {
    background-image: url('../images/butcherblock.jpg');
    background-size: 100% auto;
    background-repeat: repeat;
	width: 25vw;
	height: 100vh;
	@include testing;
    overflow-y: scroll;
	.item {
        position: relative;
		@include testing;
        width: 15vw;
		height: 15vw;
		background-size: auto 100%;
		background-position: 0% center;
        background-repeat: no-repeat;
        margin: 0 auto;
        button {
            position: absolute;
            right: 0%;
            top: 0%;
            width: 30%;
            height: 30%;
            border: none;
        }
		&.onions {
			background-image: url('../images/onions.png');
		}
		&.garlic {
			background-image: url('../images/garlic.png');
		}
		&.mushrooms {
			background-image: url('../images/mushrooms.png');
		}
        &.wine {
			background-image: url('../images/wine-bottle-2.png');
            background-position: center center;
		}
	}
}
.nav.back {
    right: 0%;
    top: 0%;
}
.pop-up {
    position: fixed;
    top: 25%;
    left: 12.5%;
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.6);
    @include testing;
    z-index: 200;
}
.pop-up-overlay {
        position: fixed;
        background-color: rgba(64,64,64,0.2);
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
@media screen and (min-aspect-ratio: 100/75) {
    $unit: vh;
	.view {
        width:100+$unit;
        height:100+$unit;
    }
}