@keyframes flash-and-fill {
    0% {opacity: 1; stroke: green; stroke-dashoffset: 100;}
    34% {opacity: 1;}
    42% {opacity: 0.5;}
    50% {opacity: 1;}
    54% {opacity: 1;}
    62% {opacity: 0.5;}
    70% {opacity: 1; stroke: yellow;}
    74% {opacity: 1;}
    77% {opacity: 0.5;}
    80% {opacity: 1;}
    84% {opacity: 1}
    87% {opacity: 0.5}
    90% {opacity: 1; stroke: orange;}
    92% {opacity: 1}
    94% {opacity: 0.5}
    96% {opacity: 1}
    98% {opacity: 0.5}
    100% {opacity: 1; stroke: red; stroke-dashoffset: 0}
}
@keyframes flash-and-fill-copy {
    0% {opacity: 1; stroke: green; stroke-dashoffset: 100;}
    34% {opacity: 1;}
    42% {opacity: 0.5;}
    50% {opacity: 1;}
    54% {opacity: 1;}
    62% {opacity: 0.5;}
    70% {opacity: 1; stroke: yellow;}
    74% {opacity: 1;}
    77% {opacity: 0.5;}
    80% {opacity: 1;}
    84% {opacity: 1}
    87% {opacity: 0.5}
    90% {opacity: 1; stroke: orange;}
    92% {opacity: 1}
    94% {opacity: 0.5}
    96% {opacity: 1}
    98% {opacity: 0.5}
    100% {opacity: 1; stroke: red; stroke-dashoffset: 0}
}
@import "functions.scss";
#pot-view {
    //temporary for testing navigation
    background-image: url('../images/pot.png');
    @extend %view-background;
    .pot.cooking {
        top: 15%;
        left: 25%;
        width: 50%;
        height: 45%;
    }
    svg.pie-timer {
        position: absolute;
      width: 40%; 
      height: 40%;
      bottom: 5%;
      left: 30%;
      transform: rotate(-90deg);
      fill: transparent;
      border-radius: 50%;
      circle {
          stroke: red;
          stroke-width: 100%;
          stroke-dasharray: 100 100;
        }    
    }
    .run-timer {
        animation: flash-and-fill 16s linear;
        animation-iteration-count: 1;
        animation-play-state: paused;  
    }
    
}