@import "functions.scss";
@font-face {
    font-family: castro;
    src: url('../fonts/castro/castro.ttf');
}
@font-face {
    font-family: sidhe;
    src: url('../fonts/sidhe/sidhe.TTF');
}
@font-face {
    font-family: lewis;
    src: url('../fonts/lewis/LewisCarroll.ttf');
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid red;
    width: 50%;
    min-height: 75%;
    background-color: rgba(255,255,255,0.6);
    @include testing;
    z-index: 200;
    padding: 3%;
    * {
        text-align: center;
    }
    h1 {
        font-size: 4vw;
        text-align: center;
        font-family: lewis, serif;
        margin: 5px;
    }
    p {
        font-family: sidhe, serif;
        text-align: center;
        font-size: 2vw;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 3px;
            input {
                flex-grow: 1;
                max-width: 500px;
            }
            label {
                width: 120px;
                text-align: right;
                margin-right: 10px;
            }
        }
    }
    a:not(.no-styles), input[type="submit"] {
        outline: none;
        margin: 5px 10%;
        padding: 4%;
        font-family: lewis, serif;
        font-size: 3.5vw;
        background-color: rgba(64,64,64,0.5);
        color: white;
        transition: background-color 0.5s;
        border: none;
        &:hover {
            background-color: rgba(159,18,18,1);
        }
    }
    p.no-styles {
        font-family: serif;
        font-size: 0.9em;
        margin: 5px;
        a {
            display: inline;
            text-decoration: underline;
        }
    }
    p.small {font-size: 0.7em; color: darkgrey;}
    input[type="submit"] {min-width: 20vw;}
    input {
        padding: 5px;
        margin: 5px;
    }
    input:not([type="submit"]) {
        text-align: left;
    }
    
}
.errors {
    color: red;
    margin-top: 5px;
}
