#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#kitchen-view {
  width: 75vw;
  height: 60vw;
  background-image: url("../images/kitchen.jpg"); }
  #kitchen-view .ice-box {
    top: 60%;
    left: 0%;
    height: 40%;
    width: 25%; }
  #kitchen-view .stove {
    right: 40%;
    top: 50%;
    height: 25%;
    width: 20%; }
  #kitchen-view .cellar {
    right: 15%;
    top: 40%;
    width: 10%;
    height: 20%; }
  #kitchen-view .shelf {
    right: 0%;
    top: 50%;
    width: 10%;
    height: 15%; }
  #kitchen-view .rice {
    right: 0%;
    top: 75%;
    width: 15%;
    height: 15%; }
  #kitchen-view .cutting-board {
    right: 15%;
    top: 63%;
    height: 12%;
    width: 20%; }

@media screen and (min-aspect-ratio: 5 / 3) {
  #kitchen-view {
    width: 125vh;
    height: 100vh; } }
#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#cellar-view {
  background-image: url("../images/cellar.jpg"); }
  #cellar-view .onions {
    top: 75%;
    left: 75%;
    width: 15%;
    height: 10%; }
  #cellar-view .garlic {
    top: 25%;
    left: 75%;
    height: 30%; }
  #cellar-view .wine {
    left: 5%;
    width: 20%;
    top: 35%;
    height: 50%; }
  #cellar-view .mushrooms {
    top: 65%;
    left: 65%;
    width: 15%;
    height: 10%; }
  #cellar-view .nav.kitchen {
    left: 40%;
    width: 20%;
    top: 25%;
    height: 50%; }
  #cellar-view .nav.back {
    left: 85%;
    top: 0%;
    width: 15%;
    height: 15%;
    border: none; }

#stove-view {
  background-image: url("../images/stove.jpg");
  width: 75vw;
  height: 59vw; }
  #stove-view .stock {
    top: 50%;
    left: 50%;
    width: 10%;
    height: 16%; }
  #stove-view .pot {
    left: 37%;
    top: 54%;
    width: 12%;
    height: 12%; }

#ice-box-view {
  background-image: url("../images/ice-box-open.png"); }
  #ice-box-view .butter {
    top: 40%;
    left: 28%;
    width: 20%;
    height: 12%; }
  #ice-box-view .parmesan {
    top: 23%;
    left: 28%;
    width: 20%;
    height: 15%; }

@media screen and (min-aspect-ratio: 14 / 11) {
  #stove-view {
    width: 127vh;
    height: 100vh; } }
#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#shelf-view {
  background-image: url("../images/clipboard.png"); }

#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#cutting-board-view {
  background-image: url("../images/cutting-board.jpg");
  width: 75vw;
  height: 50vw; }
  #cutting-board-view .cutting-board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
  #cutting-board-view .cutting-board div {
    width: 50%;
    height: 50%; }
  #cutting-board-view .drop-hover {
    background-color: rgba(34, 0, 78, 0.4); }

@media screen and (min-aspect-ratio: 100 / 67) {
  #cutting-board-view {
    width: 150vh;
    height: 100vh; } }
@keyframes flash-and-fill {
  0% {
    opacity: 1;
    stroke: green;
    stroke-dashoffset: 100; }
  34% {
    opacity: 1; }
  42% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  54% {
    opacity: 1; }
  62% {
    opacity: 0.5; }
  70% {
    opacity: 1;
    stroke: yellow; }
  74% {
    opacity: 1; }
  77% {
    opacity: 0.5; }
  80% {
    opacity: 1; }
  84% {
    opacity: 1; }
  87% {
    opacity: 0.5; }
  90% {
    opacity: 1;
    stroke: orange; }
  92% {
    opacity: 1; }
  94% {
    opacity: 0.5; }
  96% {
    opacity: 1; }
  98% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    stroke: red;
    stroke-dashoffset: 0; } }
@keyframes flash-and-fill-copy {
  0% {
    opacity: 1;
    stroke: green;
    stroke-dashoffset: 100; }
  34% {
    opacity: 1; }
  42% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  54% {
    opacity: 1; }
  62% {
    opacity: 0.5; }
  70% {
    opacity: 1;
    stroke: yellow; }
  74% {
    opacity: 1; }
  77% {
    opacity: 0.5; }
  80% {
    opacity: 1; }
  84% {
    opacity: 1; }
  87% {
    opacity: 0.5; }
  90% {
    opacity: 1;
    stroke: orange; }
  92% {
    opacity: 1; }
  94% {
    opacity: 0.5; }
  96% {
    opacity: 1; }
  98% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    stroke: red;
    stroke-dashoffset: 0; } }
#kitchen-view, #cellar-view, #stove-view, #ice-box-view, #shelf-view, #cutting-board-view, #pot-view, .view .nav.back, .items .item button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#pot-view {
  background-image: url("../images/pot.png"); }
  #pot-view .pot.cooking {
    top: 15%;
    left: 25%;
    width: 50%;
    height: 45%; }
  #pot-view svg.pie-timer {
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 5%;
    left: 30%;
    transform: rotate(-90deg);
    fill: transparent;
    border-radius: 50%; }
    #pot-view svg.pie-timer circle {
      stroke: red;
      stroke-width: 100%;
      stroke-dasharray: 100 100; }
  #pot-view .run-timer {
    animation: flash-and-fill 16s linear;
    animation-iteration-count: 1;
    animation-play-state: paused; }

@font-face {
  font-family: castro;
  src: url("../fonts/castro/castro.ttf"); }
@font-face {
  font-family: sidhe;
  src: url("../fonts/sidhe/sidhe.ttf"); }
@font-face {
  font-family: lewis;
  src: url("../fonts/lewis/LewisCarroll.ttf"); }
html, body, .wrapper {
  width: 100%;
  height: 100%; }

.wrapper {
  display: flex;
  background-size: 20% auto; }

#view-wrapper {
  width: 75vw;
  height: 100vh;
  background-color: #5c5040; }

.view {
  position: relative;
  width: 75vw;
  height: 75vw;
  margin: 0 auto;
  border: none; }
  .view > * {
    position: absolute;
    display: block;
    width: 10vh;
    height: 10vh;
    border: none; }
  .view .nav.back {
    right: 0%;
    top: 0%;
    border: none;
    background-image: url("../images/arrow.png"); }

button {
  background-color: transparent;
  cursor: pointer;
  border: none; }
  button:focus {
    outline: none; }

.items {
  background-image: url("../images/butcherblock.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  width: 25vw;
  height: 100vh;
  border: none;
  overflow-y: scroll; }
  .items .item {
    position: relative;
    border: none;
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    background-size: auto 100%;
    background-position: 0% center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1); }
    .items .item button {
      background-image: url("../images/trash-icon.png");
      position: absolute;
      right: 10%;
      top: 10%;
      width: 20%;
      height: 20%;
      border: none; }
    .items .item.onions {
      background-image: url("../images/onions.png"); }
    .items .item.garlic {
      background-image: url("../images/garlic.png"); }
    .items .item.mushrooms {
      background-image: url("../images/mushrooms.png"); }
    .items .item.wine {
      background-image: url("../images/wine-bottle-2.png");
      background-position: center center; }
    .items .item.rice {
      background-image: url("../images/arborio.png");
      background-position: center center; }
    .items .item.stock {
      background-image: url("../images/stock.png");
      background-position: center center; }
    .items .item.butter {
      background-image: url("../images/butter.png");
      background-position: center center; }
    .items .item.parmesan {
      background-image: url("../images/parmesan.png"); }

.pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 15%;
  left: 12.5%;
  width: 50%;
  min-height: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  z-index: 200;
  padding: 3%; }
  .pop-up h2 {
    font-size: 3.5vw;
    text-align: center;
    font-family: lewis, serif; }
  .pop-up p {
    font-family: sidhe, serif;
    text-align: center;
    font-size: 2vw; }
  .pop-up button {
    outline: none;
    margin: 0% 10%;
    padding: 5%;
    font-family: lewis, serif;
    font-size: 3.5vw;
    background-color: rgba(64, 64, 64, 0.5);
    color: white;
    transition: background-color 0.5s; }
    .pop-up button:hover {
      background-color: #9f1212; }

.pop-up-overlay {
  position: fixed;
  background-color: rgba(64, 64, 64, 0.5);
  top: 0%;
  left: 0%;
  width: 75%;
  height: 100%;
  z-index: 100; }

@media screen and (min-aspect-ratio: 100 / 75) {
  .view {
    width: 100vh;
    height: 100vh; } }

/*# sourceMappingURL=main.css.map */
