@import "functions.scss";
#kitchen-view {
  width:75vw;
  height:60vw;
	background-image: url('../images/kitchen.jpg');
	@extend %view-background;
	.ice-box {
		top: 60%;
		left: 0%;
		height: 40%;
		width: 25%;
	}
	.stove {
		right: 40%;
		top: 50%;
		height: 25%;
		width: 20%;
	}
	.cellar {
		right: 15%;
		top: 40%;
		width: 10%;
		height: 20%;
	}
	.shelf {
		right: 0%;
		top: 50%;
		width: 10%;
		height:15%;
	}
	.rice {
		right: 0%;
		top: 75%;
		width: 15%;
		height:15%;
	}
	.cutting-board {
		right: 15%;
		top: 63%;
		height: 12%;
		width: 20%;
	}
}
@media screen and (min-aspect-ratio: 5/3) {
	#kitchen-view {
      width:125vh;
      height:100vh;
  }
}